<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.org.listeners.TestListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Hybrid Framework UI Tests">
        <classes>
            <class name="com.org.test.LoginTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="loginWithExcelData"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
